<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>銀行振込確認画面</title>
</head>
<body>
<h1>銀行振込確認画面</h1>
<form action="#" th:action="@{/bankTransferCompletion}" th:object="${bankTransferApplication}" method="post">
    <p>金融機関名: <span th:text="*{bankName}"></span></p>
    <p>口座番号: <span th:text="*{bankAccountNum}"></span></p>
    <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>
    <input type="hidden" name="bankName" th:value="*{bankName}"/>
    <p>
        <input type="submit" id="submit" value="振込"/>
        <input type="button" value="キャンセル" onclick="window.location='/bankTransfer';"/>
    </p>
</form>
<script th:inline="javascript" src="/js/bankTransferConfirmation.js"></script>
</body>
</html>