<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投資信託注文確認画面</title>

    <style>
        body {
          font-family: sans-serif;
          padding: 20px;
        }

.row {
  display: flex;
  margin-bottom: 8px;
}

.label {
  width: 140px;
  text-align: right;
  font-weight: bold;
  padding-right: 2px;
}

.colon {
  margin: 0 2px; /* 左右に同じ余白 */
  font-weight: bold;
}

.value {
  flex: 1;
  padding-left: 2px; /* コロンの右側に余白を追加 */
}



    </style>
</head>
<body>
<h1>投資信託注文確認画面</h1>
<!--    申込ボタン(submitボタン)が押された場合の動きを定義-->
<!--    postで/investmentTrustCompletionにアクセス、入力データはInvestmentTrustForm(Controllerの実装によりinvestmentTrustApplication＝InvestmentTrustForm)に入れる-->
<!--    したがって申込ボタン(submitボタン)が押された場合にControllerの72行目の実装の部分に行く-->
<form action="#" id="confirmationForm" th:action="@{/investmentTrustCompletion}" th:object="${investmentTrustApplication}" method="post">

    <div class="row">
<!--        確認画面に表示する内容-->
        <div class="label">金融機関名</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{bankName}"></div>
<!--        申込ボタンが押された際にInvestmentTrustFormに入れて飛ばすデータを定義-->
<!--        th:value="*{bankName}"と書くことでInvestmentTrustFormのbankNameにデータを入れる-->
        <input type="hidden" name="bankName" th:value="*{bankName}"/>
    </div>

    <div class="row">
        <div class="label">支店名</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{branchName}"></div>
        <input type="hidden" name="branchName" th:value="*{branchName}"/>
    </div>

    <div class="row">
        <div class="label">科目名</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{bankAccountType}"></div>
        <input type="hidden" name="bankAccountType" th:value="*{bankAccountType}"/>
    </div>

    <div class="row">
        <div class="label">口座番号</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{bankAccountNum}"></div>
        <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>
    </div>

    <div class="row">
        <div class="label">購入者氏名</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{name}"></div>
        <input type="hidden" name="name" th:value="*{name}"/>
    </div>

    <div class="row">
        <div class="label">銘柄選択</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{fundName}"></div>
        <input type="hidden" name="fundName" th:value="*{fundName}"/>
    </div>

    <div class="row">
        <div class="label">購入金額</div>
        <div class="colon">:</div>
        <div class="value" th:text="*{money}"></div>
        <input type="hidden" name="money" th:value="*{money}"/>
    </div>

    <p>
    <div class="row">
    <!--            確認ボタン(submitボタン＝押された場合にform action...の部分で定義されている動きを行う)-->
        <div class="label"><input type="submit" id="submit" value="申込" style="background-color: #007BFF; color: white;"/></div>
    <!--            キャンセルボタン(/investmentTrustにアクセス　Controllerの23行目へ飛ぶ)-->
        <div class="value"> <input type="button" value="キャンセル" onclick="window.location='/investmentTrust';"/>
        </div>
    </div>
    </p>

</form>
<!--resources/static.js/investmentTrustConfirmation.jsをこのHTML内で動かす-->
<script th:inline="javascript" src="/js/investmentTrustConfirmation.js"></script>

</body>
</html>